html{
	font: normal normal 14px "Microsoft YaHei", sans-serif , 宋体 ;
	color: #333;
}
body ,ul ,ol ,dl ,p {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
a {
	color: #333;
	text-decoration: none;
}